/* 수정된 CSS */
#wrap {
    width: 971px;
    margin: 0 auto;
}

h1 {
    color: green;
}

/* 바둑판 형식으로 표시하기 위한 수정 */
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 한 줄에 3개의 칼럼이 들어가도록 설정 */
    grid-gap: 20px; /* 그리드 아이템 간격 */
}

/* 상품 이미지 스타일 */
.product-img {
    width: 100%;
    height: auto;
}

/* 상품 정보 스타일 */
.product-info {
    text-align: center;
}

/* 가격 스타일 */
.product-price {
    font-weight: bold;
    color: red;
}
.product-link:visited {
    /* 방문한 링크에 대한 스타일을 여기에 지정합니다. */
    color: #000; /* 링크 색상 */
    text-decoration: none; /* 밑줄 없애기 */
}
